.buttons {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 0px;
}

.buttons:hover {
    background-color: rgb(66, 51, 55) !important; 
    color: rgb(255, 216, 201) !important;
}

.deleteIcon {
    border: 0px !important;
}

.deleteIcon:hover {
    color: red !important;
    cursor: pointer;
}


.productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}


.buttonPay:hover{
    cursor: pointer;
  }
  
  .returnButton {
    background-color: rgb(77, 58, 64);
    border: 2px solid rgb(77, 58, 64) !important;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 10px;
    color: #FFFEE3;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    transition: .15s ease-in-out !important;
    -webkit-transition: .15s ease-in-out !important;
    -moz-transition: .15s ease-in-out !important;
    -ms-transition: .15s ease-in-out !important;
    -o-transition: .15s ease-in-out !important;
}
  
  .returnButton:hover,
  .returnButton:focus {
    color: rgb(77, 58, 64);
    background-color: #FFFEE3 !important;
  }
  