.buttons {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 0px;
}

.buttons:hover {
    background-color: rgb(66, 51, 55) !important; 
    color: rgb(255, 216, 201) !important;
}




.productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}


.buttonPay:hover{
    cursor: pointer;
  }
  
  .returnButton {
    background-color: rgb(77, 58, 64);
    border: 2px solid rgb(77, 58, 64) !important;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 10px;
    color: #FFFEE3;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    transition: .15s ease-in-out !important;
    -webkit-transition: .15s ease-in-out !important;
    -moz-transition: .15s ease-in-out !important;
    -ms-transition: .15s ease-in-out !important;
    -o-transition: .15s ease-in-out !important;
}
  
  .returnButton:hover,
  .returnButton:focus {
    color: rgb(77, 58, 64);
    background-color: #FFFEE3 !important;
  }


.cart-container {
    max-width: none !important;
    overflow: hidden;
}

.cart-row {
    margin-top: 6rem !important;
    text-align: center;
    display: flex;
    justify-content: center;
}

.item-image {
    margin: 1rem 0 1rem 0;
    width: 12rem;
    border: rgb(66, 51, 55) solid 1px;
    border-radius: 1rem;
}

.item-title {
    margin: .5rem 0 0 1rem;
}

.item-description {
    margin: .2rem 1.5rem 0 1rem;
    text-align: left;
}

.item-price {
    margin: 4rem 0 0 1rem;
    font-size: 2rem;
}

.item-col {
    margin: .5rem 0 .5rem 0;
    display: flex;
    justify-content: flex-start;
    border:rgb(66, 51, 55) solid 2px;
    border-radius: 1rem;
}

.manager-item-info {
    text-align: left;
}

.qty-manager {
    justify-self: flex-end;
    display: flex;
    align-items: center;
}

.btn-delete {
    padding: 6px 10px 6px 10px !important;
    border-color: transparent !important;
    background-color: rgb(66, 51, 55) !important;
    color: #FFFEE3 !important;
}

.btn-delete:hover {
    color: rgb(66, 51, 55) !important;
    background-color: #FFFEE3 !important;
    border-color: rgb(66, 51, 55) !important;
}

.btn-delete:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

.btn-qty {
    border-color: transparent !important;
    background-color: rgb(66, 51, 55) !important;
    color: #FFFEE3 !important;
}

.btn-qty:hover {
    color: rgb(66, 51, 55) !important;
    background-color: #FFFEE3 !important;
    border-color: rgb(66, 51, 55) !important;
}

.btn-qty:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
}

.input-qty {
    margin: 0 .5rem 0 .5rem;
    min-width: 2rem;
    max-width: 5rem;
    padding: .4rem 0 .4rem 0 !important;
    text-align: center !important;
    background-color: #FFFEE3 !important;
    color: rgb(66, 51, 55) !important;
    border-color: rgb(66, 51, 55) !important;
}

.input-qty:focus {
    outline: none !important;
    box-shadow: none !important; 
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-qty[type=number] {
    -moz-appearance: textfield;
  }

@media (max-width: 767px) {
    .cart-row {
        margin-top: 2.5rem !important;
    }
}

