.parrafos {
    line-height: 2 !important;
}

.carousel {
    width: 100%;
}
.carouselDivsTitle {
    width: 40%;
    text-align: center !important;
}

.carouselTitle {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    font-size: 2.8vw !important;
    margin: auto;
    width: fit-content;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.carousel {
    width: 73% !important;
    margin: auto !important;
}

.blur {
    filter: blur(2px) !important;
    -webkit-filter: blur(2px) !important;
}
