.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.dropdownCart {
  width: 370px !important;
  overflow: hidden;
  left: unset !important;
  right: 15%;
}


.cartButton {
  width: 100%;
  background-color: rgb(77, 58, 64);
  border: 1px solid #fffee3;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 10px;
  color: #fffee3;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

.cartButton:hover,
.cartButton:focus {
  color: rgb(77, 58, 64);
  border: 2px solid rgb(77, 58, 64) !important;
  background-color: #fffee3 !important;
}

.linkButton{
    width: 90% !important;
}

.buttonPay:hover{
  cursor: pointer;
}

.returnButton {
  
  background-color: rgb(77, 58, 64);
  border: 2px solid #FFFEE3;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 10px;
  color: #FFFEE3;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

.returnButton:hover,
.returnButton:focus {
  color: rgb(77, 58, 64);
  border: 2px solid rgb(77, 58, 64) !important;
  background-color: #FFFEE3 !important;
  
}
