@media (min-width: 991px) {
   
}

@media (min-width: 768px) {
    .title{
        font-size: 5em;
    }

    .imagen{
        filter: blur(7px);
    }

    .carousel-caption{
        bottom: 40%!important;
    }

}