.word {
  margin: 0;
  padding-top: 25vh;
  padding-bottom: 45vh;
  font-weight: bolder;
  font-size: 1.5em;
  color: rgb(64, 54, 50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  text-align: center;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);
}
.l1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}
.l2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}
.l3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}
.l4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;
}
.l5 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}
.l6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}
.l7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}
.l8 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.9s;
}


@keyframes drop {
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  80% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    top: 6.94em;
  }
}
