.transition,
form button,
form .question label,
form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

body {
  background-image: url("../images/bakery/macaroons.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.caja{
  border-radius: 10px;
}

.titulo{
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.container {
  width: 100% !important;
  height: 100vh !important;
}
.contenido{
  border: 0px !important;
  box-shadow: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 4px 5px 0 rgb(0 0 0 / 6%), 0 2px 4px 0 rgb(0 0 0 / 7%);
  position: relative;
  max-width: 550px;
  margin: auto !important;
}

form {
  width: 80%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  background-color: inherit;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

form h1 {
  color: rgb(77, 58, 64);
  font-weight: 100;
  letter-spacing: 0.01em;
  margin-left: 15px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

form button {
  margin-top: 35px;
  background-color: rgb(77, 58, 64);
  border: 1px solid #FFFEE3;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: #FFFEE3;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

form button:hover,
form button:focus {
  color: rgb(77, 58, 64);
  border: 2px solid rgb(77, 58, 64) !important;
  background-color: #FFFEE3 !important;
  
}

form .question {
  position: relative;
  padding: 10px 0;
}

form .question:first-of-type {
  padding-top: 0;
}

form .question:last-of-type {
  padding-bottom: 0;
}

form .question label {
  transform-origin: left center;
  color: rgb(77, 58, 64);
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 17px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -40px;
  z-index: 2;
  pointer-events: none;
}

form .question input[type="text"] {
  appearance: none;
  background-color: none;
  border: 1px solid rgb(77, 58, 64);
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: rgb(77, 58, 64);
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

form .question input[type="text"]:focus {
  outline: none;
  background: rgb(77, 58, 64);
  color:  #FFFEE3;
  margin-top: 30px;
}

form .question input[type="text"]:valid {
  margin-top: 30px;
}

form .question input[type="text"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}

form .question input[type="text"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}

/* password */
form .question input[type="password"] {
  appearance: none;
  background-color: none;
  border: 1px solid rgb(77, 58, 64);
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: rgb(77, 58, 64);
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

form .question input[type="password"]:focus {
  outline: none;
  background: rgb(77, 58, 64);
  color:  #FFFEE3;
  margin-top: 30px;
}

form .question input[type="password"]:valid {
  margin-top: 30px;
}

form .question input[type="password"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}

form .question input[type="password"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}

/* Email */

form .question input[type="email"] {
  appearance: none;
  background-color: none;
  border: 1px solid rgb(77, 58, 64);
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: rgb(77, 58, 64);
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

form .question input[type="email"]:focus {
  outline: none;
  background: rgb(77, 58, 64);
  color:  #FFFEE3;
  margin-top: 30px;
}

form .question input[type="email"]:valid {
  margin-top: 30px;
}

form .question input[type="email"]:focus ~ label {
  -moz-transform: translate(0, -35px);
  -ms-transform: translate(0, -35px);
  -webkit-transform: translate(0, -35px);
  transform: translate(0, -35px);
}

form .question input[type="email"]:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  -moz-transform: translate(5px, -35px) scale(0.6);
  -ms-transform: translate(5px, -35px) scale(0.6);
  -webkit-transform: translate(5px, -35px) scale(0.6);
  transform: translate(5px, -35px) scale(0.6);
}