.modal-title {
    padding: 0rem 10rem !important;
}

.modal-header{
    justify-content: flex-end !important;
    border-bottom: 1px solid rgb(255, 216, 201);
}

.modal-header .btn-close{
    padding: 0rem !important;
    margin: 0rem !important;
}

.modal-footer{
    border-top: 1px solid rgb(255, 216, 201);
}