.w-20 {
    width: fit-content !important;
}

.logo-width {
    width: 25% !important;
}

/* Login */
.login-width {
    width: fit-content !important;
}
.loginDesing {
    width: max-content !important;
    background-color: rgb(77, 58, 64) !important;
    /* padding-top: 0.4rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-bottom: 0.4rem !important; */
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important; 
    text-decoration: none !important;
    color: rgb(255, 225, 215) !important;
    font-weight: 600 !important;
}

.loginDesing:hover {
    border: 2px solid rgb(77, 58, 64);
    background-color: #FFFEE3 !important;
    color: rgb(77, 58, 64) !important;
}

.productOptions {
    font-weight: 600;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}


.productOptions:hover {
    color: #FFFEE3  !important;
    background-color: rgb(77, 58, 64) !important;
}




/* Cart */
.carritoNavbar {
    width: fit-content !important;
}

.font-cream-hover-carrito:hover{
    -webkit-filter: 
    drop-shadow(1px 1px 0 rgb(77, 58, 64))
    drop-shadow(-1px 1px 0 rgb(77, 58, 64)) 
    drop-shadow(1px -1px 0 rgb(77, 58, 64))
    drop-shadow(-1px -1px 0 rgb(77, 58, 64)) !important;

    filter: 
    drop-shadow(1px 1px 0 rgb(77, 58, 64))
    drop-shadow(-1px 1px 0 rgb(77, 58, 64)) 
    drop-shadow(1px -1px 0 rgb(77, 58, 64))  
    drop-shadow(-1px -1px 0 rgb(77, 58, 64)) !important;
    color: #FFFEE3 !important;
}

/* Logo */
.logo {
    width: 20%;
}

@media (min-width: 768px) and (max-width: 900px){
    .barrita-chota{
        width: 90%;
    }
}

.carrito-badge{
    color: rgb(255, 225, 215) !important;
    background-color: rgb(77, 58, 64) !important;
    left: 90% !important;
    top: 10% !important
}