/* Sidebar icon styles */
.menu-icon {
    padding: 8px; 
}

/* Sidebar styles */
.cont-menu{
    background-color: rgb(42, 42, 42);
    box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
    width: 55%;
    height: 100vh;
    position: absolute;
    z-index: 5;
    left: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

/* Options list styles */
.cont-menu ul{
    padding: 10px 0px 20px 0px;
    list-style: none;
}

/* Options styles */
.cont-menu ul li{
    color: white;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 50px;
}

/* El hover de las opciones paparulo*/
.cont-menu ul li:hover {
    background-color: rgb(185, 185, 185);
    color: rgb(42, 42, 42);
}


/* Javascript setting styles */
.active {
    transform: translate(-55%);
    -webkit-transform: translate(-55%);
    -moz-transform: translate(-55%);
    -ms-transform: translate(-55%);
    -o-transform: translate(-55%);
}

.opacity {
    background-color: rgba(0, 0, 0, 5);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}